#workspaces.list button label {
  color: @workspace_default;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces.list button.focused label {
  color: @workspace_focused;
}

#workspaces.list button.urgent label {
  color: @workspace_urgent;
}

#workspaces button:hover label {
  background-color: @colorbg;
  text-shadow: none;
}

#workspaces.list button:hover label {
  color: @workspace_focused;
}
