Xxftcursor.theme: capitaine-cursors

Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.autohint: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcdlight

*font: -UW-Ttyp0-Medium-R-Normal--11-100-75-75-C-60-ISO10646-1
URxvt.font: xft:UW Ttyp0:style=Regular:pixelsize=14
*VT100.font: -UW-Ttyp0-Medium-R-Normal--11-100-75-75-C-60-ISO10646-1
*.locale: true
*.internalBorder: 32

! Adjust geometry after setting internal border for URxvt.
URxvt.geometry: 88x29

*cursorBlink: false
*scrollBar: false
*VT100*scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Home: \033[7~
URxvt.keysym.End: \033[8~

URxvt.depth: 32

URxvt.perl-ext-common: default,tabbed

rofi.font: Ttyp0 10
