@import 'workspaces/style.css';
@import 'launchers/style.css';
@import 'window/style.css';
@import 'media-player/style.css';
@import 'network/style.css';

@import 'datetime/style.css';
@import 'distro/style.css';

@import 'cpu/style.css';
@import 'ram/style.css';
@import 'battery/style.css';
@import 'backlight/style.css';
@import 'volume/style.css';
@import 'keyboard/style.css';

#clock.date {
  margin-right: 0;
}

#clock.time {
  margin-left: 0;
}

#custom-icon {
  margin-right: 0;
  padding-right: 0;
}

#custom-head,
#custom-tail {
  font-size: 16px;
}

#custom-head {
  background-color: transparent;
}

#custom-tail {
  color: @colorbg;
}
