@import 'colors.css';

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "jetbrains mono", "symbols nerd font mono";
    font-weight: normal;
    font-size: 9pt;
    padding: 0;
}

window#waybar {
    background: alpha(@colorbg, 0.9);
}

tooltip {
    background-color: alpha(@colorbg, 0.9);
}

#window,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language,
#keyboard-state,
#backlight,
#mpris {
    margin: 3px 4px;
    padding: 3px 4px;
}

#workspaces {
    background-color: transparent;
    margin: 3px;
    border: none;
}

#workspaces button {
    all: initial;
    min-width: 0;
    padding: 3px 8px;
    color: @colorfg;
}

#workspaces button.focused {
    color: @colorfg;
}

#workspaces button.urgent {
    background-color: transparent;
    color: @colorfg;
}

#clock {
    background-color: transparent;
    color: @colorfg;
}

#battery {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

#window,
#tray,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#keyboard-state,
#backlight,
#mpris {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

#keyboard-state label {
  padding-right: 8px;
}

#cpu.critical,
#memory.critical {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

