@import 'colors.css';

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "jetbrains mono", "symbols nerd font mono";
    font-weight: normal;
    font-size: 9pt;
    padding: 0;
}

window#waybar {
    background: alpha(@colorbg, 0.9);
}

window#waybar > box {
    margin: 4px;
    background: transparent;
}

tooltip {
    background-color: alpha(@colorbg, 0.9);
}

#window,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language,
#keyboard-state,
#backlight,
#mpris {
    padding: 1px 8px;
}

#custom-top_right_div,
#custom-top_left_div,
#custom-bottom_right_div,
#custom-bottom_left_div {
  font-size: 10pt;
}

#workspaces {
  background-color: @color6;
}

#workspaces button {
    all: initial;
    padding-left: 8px;
    padding-right: 8px;
    color: @colorfg;
    background-color: @color6;
}

#workspaces button.focused {
    color: @color9;
}

#workspaces button.urgent {
    background-color: @color1;
}

#custom-top_right_div.1 {
  background-color: @color4;
  color: @color6;
}

window#waybar #window {
    background-color: @color4;
    border: none;
}

#custom-top_right_div.2 {
  background-color: transparent;
  color: @color4;
}

#custom-top_left_div.1 {
  background-color: transparent;
  color: @color4;
}

#clock {
    background-color: @color4;
    color: @colorfg;
}

#custom-top_right_div.3 {
  background-color: transparent;
  color: @color4;
}

#custom-top_left_div.2 {
  background-color: transparent;
  color: @color3;
}

#backlight {
    background-color: @color3;
    color: @colorfg;
}

#custom-top_left_div.3 {
  background-color: @color3;
  color: @color9;
}

#pulseaudio {
    background-color: @color9;
    color: @colorfg;
}

#battery {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

#custom-top_left_div.4 {
  background-color: @color9;
  color: @color5;
}

#keyboard-state {
  padding-left: 0;
}

#language,
#keyboard-state {
    background-color: @color5;
    color: @colorfg;
}

#window,
#tray,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#keyboard-state,
#backlight,
#mpris {
    /* background-color: transparent; */
    border: none;
    color: @colorfg;
}

#cpu.critical,
#memory.critical {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: transparent;
    border: none;
    color: @colorfg;
}

#mpris {
    background-color: @color4;
    border: none;
}

#custom-bottom_right_div.1 {
  background-color: transparent;
  color: @color4;
}

#custom-bottom_left_div.1 {
  background-color: transparent;
  color: @color5;
}

#cpu {
    background-color: @color5;
    border: none;
}

#custom-bottom_left_div.2 {
  background-color: @color5;
  color: @color1;
}

#memory {
    background-color: @color1;
    border: none;
}

#custom-bottom_left_div.3 {
  background-color: @color1;
  color: @color2;
}

#battery {
    background-color: @color2;
    border: none;
}

#custom-bottom_left_div.4 {
  background-color: @color2;
  color: @color4;
}

#network {
    background-color: @color4;
    border: none;
}
