window#waybar #window {
  color: @colorfg;
  background-color: @window;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-tail.window {
  background-color: @window;
}

#custom-head.window {
  color: @window;
}
