#backlight {
  color: @colorfg;
  background-color: @backlight;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-head.backlight {
  color: @backlight;
}

#custom-tail.backlight {
  background-color: @backlight;
}

