#custom-launcher {
  color: @colorfg;
  background-color: @launchers;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-launcher:hover {
  color: @focused_fg;
}

#custom-tail.launchers {
  background-color: @launchers;
}

#custom-head.launchers {
  color: @launchers;
}
