#language,
#keyboard-state {
  color: @colorfg;
  background-color: @keyboard;
  padding-left: 8px;
  padding-right: 8px;
}

#keyboard-state {
  padding-left: 0;
}

#custom-head.keyboard {
  color: @keyboard;
}

