notebook > header > tabs > tab * {
  -gtk-icon-style: symbolic;
}

decoration {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);
  margin: 0;
}

@import url("tilix.css");
@import url("stulto.css");
@import url("window-decorations.css");

