window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    min-height: 0;
    min-width: 0;
}

/* shrink headebars */
headerbar {
    min-height: 0;
    padding-left: 1px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    min-height: 0;
    margin-top: 1px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 1px;
}

headerbar entry,
headerbar spinbutton,
headerbar button {
    padding: 1px 1px;
}

headerbar separator {
    padding: 0;
}

/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */ 
    padding: 1px
}

.default-decoration .titlebutton {
    min-height: 0; /* tweak these two props to reduce button size */
    min-width: 0;
}
