/*
Gnome 3 - based on
https://blog.samalik.com/make-your-gnome-title-bars-smaller/
*/

.header-bar.default-decoration {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 9pt;
}

.header-bar.default-decoration .button.titlebutton {
    padding: 0px;
}
 
/*
Gnome 3.20+ - based on 
https://blog.samalik.com/make-your-gnome-title-bar-smaller-fedora-24-update/
*/

window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
    border: none;
    background-image: linear-gradient(to bottom,
      shade(@theme_bg_color, 1.05),
      shade(@theme_bg_color, 1.00));
}

window.ssd headerbar.titlebar button.titlebutton {
    padding: 0px;
    min-height: 0;
    min-width: 0;
}

headerbar {
    min-height: 0px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
}
 
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px;
    margin-bottom: 0px;
}
 
.titlebar {
    min-height: 0px;
}
